<!DOCTYPE html>
<html>
  <head>
    <title>Password guesser</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<script href="javascript.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
    <div class="testbox">
		<div class="container">
			<h1>Password guesser</h1>
			<div class="item">
				<p>Mots:</p>
				<input type="text" id="word" name="name" placeholder="Mots" />
			</div>
			<div class="item">
				<p>Date:</p>
				<input type="date" name="name"/>
			</div>
			<div class="item status">
				<div class="status-item"><label><input type="checkbox" name="name"> <span>Basculer toutes les lettres en minuscule</span></label></div>
				<div class="status-item"><label><input type="checkbox" name="name"> <span>Basculer toutes les lettres en majuscule</span></label></div>
				<div class="status-item"><label><input type="checkbox" name="name"> <span>Retirer les accents</span></label></div>
				<div class="status-item"><label><input type="checkbox" name="name"> <span>Utiliser le L33T pour toutes les lettres</span></label></div>
				<div class="status-item"><label><input type="checkbox" name="name"> <span>Utiliser les nombres des dates</span></label></div>
				<div class="status-item"><label><input type="checkbox" name="name"> <span>Transformer les dates en langage humain pour les mois</span></label></div>
				<div class="status-item"><label><input type="checkbox" name="name"> <span>Utiliser l'année sur 2 chiffres</span></label></div>
				<div class="status-item"><label><input type="checkbox" name="name"> <span>Utiliser l'année sur 4 chiffres</span></label></div>
				<div class="status-item"><label><input type="checkbox" name="name"> <span>Séparer les informations des dates pour les combiner avec les mots</span></label></div>
				<div class="status-item"><label><input type="checkbox" name="name"> <span>Ajouter les caractères spéciaux les plus communs (.$?!*)</span></label></div>
				<div class="status-item"><label><input type="checkbox" name="name"> <span>Ajouter tous les caractères spéciaux</span></label></div>
				<div class="status-item"><label><input type="checkbox" name="name"> <span>Nombre de caractères spéciaux maximums dans la combinaison ?</span></label></div>
			</div>
			<button type="submit" href="/">Envoyer</button>
		</div>
    </div>
  </body>
</html>